.col1{
    background: #1b6d85;
}
.col2{
    background: #761c19;
}
.col3{
    background: #3e8f3e;
}
.col4{
    background: #8c8c8c;
}
.col5{
    background: #0f0f0f;
}
.col6{
    background: #8a6d3b;
}
.title{
    background: #269abc;
}